:root{
    --main-color-bg: #273247;
    --secondary-color-bg: #273247;
    --tertiary-color-bg: #615d75;
    --main-color-text: #e1ddd1;
    --secondary-color-text: #6786b5;
    --tertiary-color-text: #98afd1;
    
    --color-primary: #797257;
    --color-primary-light: #b0a383;
    

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999; 

    --shadow-dark:  0  2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light:  0  2rem 6rem rgba(0, 0, 0, .06);
    --line: 1px solid var(--color-grey-light-2);
}

*{
    margin:0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;

    @media (max-width: 900px){
        font-size: 37.5%;
    }

    @media (max-width: 1200px){
        font-size: 50%;
    }
}


*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    color: var(--main-color-text);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.6;
    min-height: 100vh;
}

h2{
    @media (max-width: 900px){
        font-size: 5rem;
    }
    &:hover{
        cursor: pointer;
        background-color: #374153;
    }
    &::selection {
        color: none;
        background: none;
    }
    color: var(--secondary-color-text);   
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 6rem;
    line-height: 1.6;
    transition: all .3s;
}


h3{
    &::selection {
        color: none;
        background: none;
    }
    &:hover{
        cursor: pointer;
        background-color: #374153;
    }
    transition: all .3s;
    color: var(--secondary-color-text);   
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 3rem;
    line-height: 1.6;
}


ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul li:before {
    margin-left: 4rem;
	content: ">";
	position: absolute;
	left: 0;
}

li{
    margin-left: 4rem;
}