.main-layout {
  background-color: var(--main-color-bg);
  color: var(--main-color-text);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [sidebar-start] 200px [sidebar-end content-v-start] 1fr [content-v-end];
      grid-template-columns: [sidebar-start] 200px [sidebar-end content-v-start] 1fr [content-v-end];
  -ms-grid-rows: [header-start] 150px [header-end content-h-start] 1fr [content-h-end];
      grid-template-rows: [header-start] 150px [header-end content-h-start] 1fr [content-h-end];
  grid-gap: 30px;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.sidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color-text);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--tertiary-color-bg);
}

.main-content {
  position: relative;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-transition: all 3s;
  transition: all 3s;
  overflow-y: scroll;
  margin: .5rem;
}

.main-content-show {
  -webkit-animation: appear .5s ease-in;
          animation: appear .5s ease-in;
}

.main-content-hide {
  display: none;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    width: calc(100% - 1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
    width: calc(100% - 1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

.center-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --main-color-bg: #273247;
  --secondary-color-bg: #273247;
  --tertiary-color-bg: #615d75;
  --main-color-text: #e1ddd1;
  --secondary-color-text: #6786b5;
  --color-primary: #b0a383;
  --color-primary-light: #797257;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:  0  2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light:  0  2rem 6rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-color-text);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
  min-height: 100vh;
}

h2 {
  color: var(--secondary-color-text);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 6rem;
  line-height: 1.6;
}

h2::-moz-selection {
  color: none;
  background: none;
}

h2::selection {
  color: none;
  background: none;
}

h3 {
  color: var(--secondary-color-text);
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.6;
}

h3::-moz-selection {
  color: none;
  background: none;
}

h3::selection {
  color: none;
  background: none;
}

ul {
  position: relative;
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}

ul li:before {
  margin-left: 4rem;
  content: ">";
  position: absolute;
  left: 0;
}

li {
  margin-left: 4rem;
}

.button {
  cursor: pointer;
  position: relative;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button:not(:first-child) {
  margin-top: 45px;
}

.button__text {
  margin-left: 3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--main-color-text);
  z-index: 10;
}

.button__current {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  z-index: 4;
}

.button::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--color-primary-light);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.7s cubic-bezier(1, 0, 0, 0.4) 0.2s, -webkit-transform 0.2s;
  transition: width 0.7s cubic-bezier(1, 0, 0, 0.4) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.7s cubic-bezier(1, 0, 0, 0.4) 0.2s;
  transition: transform 0.2s, width 0.7s cubic-bezier(1, 0, 0, 0.4) 0.2s, -webkit-transform 0.2s;
}

.button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.button::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, -webkit-transform 0.2s;
}

.button:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.dropdown-small {
  position: relative;
}

.dropdown-small-show {
  max-width: calc(100% - 1rem);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  height: 250px;
}

.dropdown-small-hide {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  height: 0;
}

.dropdown-large {
  position: relative;
}

.dropdown-large-show {
  max-width: calc(100% - 1rem);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.dropdown-large-hide {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  height: 0;
}
/*# sourceMappingURL=main.css.map */