.dropdown-small{
    position: relative;

    &-show{
        max-width: calc(100% - 1rem);
        transition: all .3s ease-in;
        opacity: 1;
        height: 250px;
    }
    
    &-hide{
        transition: all .3s ease-out;
        opacity: 0;
        height: 0;
    }
}

.dropdown-large{
    position: relative;

    &-show{
        max-width: calc(100% - 1rem);
        transition: all .3s ease-in;
        opacity: 1;
        height: min-content;
    }
    
    &-hide{
        transition: all .3s ease-out;
        opacity: 0;
        height: 0;
    }
}